.logo_main {
   max-width: 50%;
   height: auto;
   float: left;
   margin-right: 1px;
}

p {
   margin: 0px;
}

.txt_top_right {
   font-size: xx-large;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   color: white;
   text-align: center;
   line-height: 1.5;
   padding-top: 150px;
}

.txt_bottom_left {
   font-size: xx-large;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   color: white;
   text-align: center;
   line-height: 2.4;
   padding-top: 150px;
}

.break_img {
   max-width: 50%;
   height: auto;
   float: right;
}

.button {
   background-color: #4CAF50;
   border: none;
   border-radius: 4px;
   color: white;
   padding: 15px 50px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
   box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#index {
   margin: 0px;
   background-color: rgb(254, 206, 43);
}
#article{
   margin:0px;
   background-color: rgb(254, 121, 32);
}

#carre_orange{
   width: 70%;
   height: 70%;
   margin:auto;
   background-color: rgb(254, 147, 35);
}
.square {
   background-color: rgb(254, 147, 35);
  position: relative;
  width: 80%;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  background-color: rgb(255,255,255);
  width: 12em;
  height: 50%;
  margin-left:auto;
  margin-right:auto;
  display: block;
  padding: 2em;
  font-family: 'Roboto', sans-serif;
}

select {
   font-family: 'Roboto', sans-serif;
    width: 12em;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 1em;
    border: none;
    border-radius: 1em;
    background-color: #f1f1f1;
}

input[type=number] {
   font-family: 'Roboto', sans-serif;
    width: 3em;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 1em;
    border: none;
    border-radius: 1em;
    background-color: #f1f1f1;
}

.foot {
   padding: 4em;
   margin-left:auto;
   margin-right:auto;
   display: block;
}

footer {
   float: none;
   clear: both;
   background-color:  rgb(254, 121, 32);
}
